---
import Layout from "@/layouts/Layout.astro";
import AppSection from "@/components/appSection.jsx";
---

<Layout title="Game of thrones characters">
	<main class="w-full h-full py-10">
		<AppSection client:visible />
	</main>
</Layout>
