---
import Layout from "../layouts/Layout.astro";
import Families from "@/components/families.jsx";
---

<Layout title="Game of thrones characters">
	<main class="w-full h-full py-10">
		<Families client:visible />
	</main>
</Layout>
