---
import Lannister from "@/components/lannister.astro";
import Stark from "@/components/stark.astro";
import Tyrell from "@/components/tyrell.astro";
import Arryn from "@/components/arryn.astro";
import Greyjoy from "@/components/greyjoy.astro";
import Martell from "@/components/martell.astro";
import Tully from "@/components/tully.astro";
import Targaryen from "@/components/targaryen.astro";

const HOUSES = [
  {
    name: "House Stark",
    image: Stark,
  },
  {
    name: "House Lannister",
    image: Lannister,
  },
  {
    name: "House Tyrell",
    image: Tyrell,
  },
  {
    name: "House Arryn",
    image: Arryn,
  },
  {
    name: "House Greyjoy",
    image: Greyjoy,
  },
  {
    name: "House Martell",
    image: Martell,
  },
  {
    name: "House Tully",
    image: Tully,
  },
  {
    name: "House Targaryen",
    image: Targaryen,
  },
];
---

<section class="flex flex-col gap-6 h-full">
  <span class="text-semibold text-grey tracking-[4px]">Families</span>
  <div
    class="bg-primary w-[25%] p-8 flex flex-col gap-4 max-h-full overflow-y-auto"
  >
    {
      HOUSES.map((house) => {
        return (
          <div
            class="w-full h-20 bg-secondary px-6 py-4 flex flex-row text-center items-center gap-4 cursor-pointer"
            id={house.name}
          >
            <house.image class="w-12 h-12" />
            <span>{house.name}</span>
          </div>
        );
      })
    }
  </div>
</section>
