---
import "@fontsource/noto-serif-jp";
import Header from "../sections/Header.astro";
interface Props {
	title: string;
}

const { title } = Astro.props;
---

<!doctype html>
<html lang="en">
	<head>
		<meta charset="UTF-8" />
		<meta name="description" content="Astro description" />
		<meta name="viewport" content="width=device-width" />
		<link rel="icon" type="image/svg+xml" href="/favicon.svg" />
		<title>{title}</title>
	</head>
	<body>
		<div class="pl-20">
			<Header />
			<slot />
		</div>
	</body>
</html>
<style is:global>
	html {
		font-family: "Noto Serif JP", system-ui, sans-serif;
		background: url(../assets/game-of-thrones-bg.png) no-repeat center center
			fixed;
		background-size: cover;
	}
</style>
